extends layout

block content
  div.container
  
    div.btn-group.btn-group-justified(role="group")
      div(class="btn-group" role="group")
        button(type="button" class="btn btn-default power" data-button="KEY_POWER")
          p.glyphicon.glyphicon-off.button Power
    
    br 
    br
      
    div.btn-group.btn-group-justified(role="group")
      div(class="btn-group" role="group")
        button(type="button" class="btn btn-default" data-button="KEY_VOLUMEUP") 
          p.glyphicon.glyphicon-volume-up.button Volume Up

    div.btn-group.btn-group-justified(role="group")
      div(class="btn-group" role="group")
        button(type="button" class="btn btn-default" data-button="KEY_VOLUMEDOWN") 
          p.glyphicon.glyphicon-volume-down.button Volume Down
          
    div.btn-group.btn-group-justified(role="group")
      div(class="btn-group" role="group")
        button(type="button" class="btn btn-default" data-button="KEY_MUTE")
          p.glyphicon.glyphicon-volume-off.button Mute
    br 
    br

    div.btn-group.btn-group-justified(role="group")
      div(class="btn-group" role="group")
        button(type="button" class="btn btn-default" data-button="KEY_VOLUMEUP_MULTI")
          p.glyphicon.glyphicon-volume-up.button Volume up 5
        button(type="button" class="btn btn-default" data-button="KEY_VOLUMEDOWN_MULTI")
          p.glyphicon.glyphicon-volume-down.button Volume dn 5
